{
  "parser": "babel-eslint",
  "extends": [
    "google",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "linebreak-style": ["off"],
    "prettier/prettier": ["error", {"singleQuote": true}]
  }
}